.photo-grid {
  display: grid;
  padding-top: 92px;
  grid-template-columns: repeat(4, 284px);
  grid-auto-rows: 213px;
  gap: 16px 16px;
  justify-content: center;
}

@media (max-width: 1279px) {
  .photo-grid {
    grid-template-columns: repeat(3, 300px);
    grid-auto-rows: 225px;
    gap: 14px 14px;
    padding: 92px 48px 0;
  }
}
@media (max-width: 1023px) {
  .photo-grid {
    grid-template-columns: repeat(2, 352px);
    grid-auto-rows: 264px;
    gap: 16px 16px;
    padding: 88px 24px 0;
  }
}
@media (max-width: 767px) {
  .photo-grid {
    grid-template-columns: repeat(1, 288px);
    grid-auto-rows: 216px;
    gap: 12px 16px;
    padding: 64px 16px 0;
  }
}
