.places {
  max-width: 984px;
  margin: auto;
  padding: 12px 0 92px;
}

@media (max-width: 1279px) {
  .places {
    padding: 12px 48px 92px;
  }
}
@media (max-width: 1023px) {
  .places {
    padding: 15px 24px 90px;
  }
}
@media (max-width: 767px) {
  .places {
    padding: 14px 0 66px;
  }
}