.header__lang-links-block {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  align-items: flex-end;
}

@media (max-width: 767px) {
  .header__lang-links-block {
    align-items: center;
  }
}