.cover__title {
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin-bottom: 32px;
  color: #FFF;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    margin: 33px auto 16px;
    text-align: center;
  }
}