.place {
  display: grid;
  max-width: 1184px;
  width: 100%;
  grid-template-columns: 460px 484px;
  grid-template-rows: auto 460px;
  gap: 40px 48px;
  box-sizing: border-box;
  padding-bottom: 80px;
}

.place:last-child {
  padding: 0;
}

@media (max-width: 1079px) {
  .place {
    grid-template-columns: 460px 484px;
    grid-template-rows: auto 440px;
    gap: 32px 48px;
  }
}
@media (max-width: 1023px) {
  .place {
    grid-template-columns: 340px 352px;
    grid-template-rows: auto 340px;
    gap: 40px 48px;
  }
}
@media (max-width: 767px) {
  .place {
    grid-template-columns: minmax(288px, 100%);
    grid-template-rows: auto auto minmax(320px, 100%) auto;
    gap: 40px 48px;
  }
}