.place__paragraph-el {
  padding-bottom: 26px;
}

.place__paragraph-el:last-child {
  padding: 0;
}

@media (max-width: 1023px) {
  .place__paragraph-el {
    font-size: 16px;
    line-height: 26.08px;
    padding-bottom: 25px;
  }
}
@media (max-width: 767px) {
  .place__paragraph-el:first-child {
    padding-top: 16px;
  }
}